---
 
import Layout from "../../layouts/Layout.astro"
import Footer from "../../components/Footer.astro";
import HeadAdmin from "../../components/HeadAdmin.astro";
import Head from "../../components/head.astro"
---
 
 

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Curso de Piano</title>
  </head>
    <HeadAdmin
    texto="atras"
    link="/admin"
    clases="bg-purple-600  px-4 py-2 rounded hover:bg-purple-800 text-white font-semibold"> 
     
  </HeadAdmin>
 
  <body  class="bg-[#0f0d12]  ">
        <div class="bg-[#141218]  flex w-[60%] items-center ml-[20%] mt-[1%] rounded-2xl p-6 justify-between  shadow-lg">
            <div  >
             <img src="piano.jpg" alt="piano" class="w-60 rounded" />
            </div>
           <div class="pr-[15%] text-[20px] text-white font-extrabold   text-center">
            <h1>Comienza con tus clases!!</h1>
            <p>Aprende a tocar piano desde cero</p>
           </div>
       </div>
       <!-- crearvideo -->
          <!-- <video src="videof1.mp4" autoplay loop muted class="">
            
              </video> -->
              <div class="bg-[#0f0d12] text-center mt-2">
                  <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                   <iframe class="h-[300px] ml-8 w-[550px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/kAALQ4JEY6c" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                   <a class="text-center text-purple-400 font-bold text-[25px] pl-[10%] ">     Toma tu clase primera clase! con un paso a paso sencillo y divertido.<br></br> aprende a tocar piano desde cero.</a>
                   </div>
                  <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                     <a class="text-center text-purple-400 font-bold text-[25px]   ">     Sigue aprediendo y mejorando tu talento<br></br> Acompañanos a la siguiente clase</a>
                   <iframe class="h-[300px] ml-8 w-[480px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/LYuZIZ_LDKk" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                   </div>
                   <section id="3">
                     <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                     <iframe class="h-[300px] ml-8 w-[480px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/S0U7O1w" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                     <a class="text-center text-purple-400 ml-8 font-bold text-[25px]   ">     Sigue aprediendo y mejorando tu talento<br></br> Acompañanos a la siguiente clase</a>
                   </div>
                   </section>
                        <section id="4" class="mb-8">
                     <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                     <a class="text-center text-purple-400 ml-8 font-bold text-[25px]   ">     Sigue aprediendo y mejorando tu talento<br></br> Acompañanos a la siguiente clase</a>
                     <iframe class="h-[300px] ml-8 w-[480px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/ZY1JIg5VRN0" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                   </div>
                   </section>
              </div>
  </body>
  <Footer></Footer>
</html>
    