---
import Head from "../../components/head.astro"
 
---
 
 
 <Head></Head>
<body>
    <div class="login-box mx-[30%] bg-blue-300 justify-center items-center">
        <h2 class=" ">Inicio de sesión</h2>
        <input type="text" placeholder="Nombre de usuario">
        <input type="password" placeholder="Contraseña">
        <a href="#">¿Olvidó su contraseña?</a>
        <button>Iniciar</button>
        <div class="register-link">
            <a href="#">Registarse</a>
        </div>


    </div>
</body>

 
