---
 import Footer from "../../components/Footer.astro"
import Layout from "../../layouts/Layout.astro"
import Head from "../../components/head.astro"
---
 
 

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Curso de guitarra</title>
  </head>
  <Head></Head >
  <body  class="bg-[#0f0d12] ">
        <div class="bg-[#141218] flex w-[60%] items-center ml-[20%] mt-[1%] rounded-2xl p-6 justify-between  shadow-lg">
            <div  >
             <img src="aprendertocarguitarra.png" alt="Guitarra" class="w-60 rounded" />
            </div>
           <div class="pr-[15%] text-[20px] text-white font-extrabold   text-center">
            <h1>Comienza con tus clases!!</h1>
            <p>Aprende a tocar guitarra desde cero</p>
           </div>
       </div>
       <!-- crearvideo -->
          <!-- <video src="videof1.mp4" autoplay loop muted class="">
            
              </video> -->
              
              <div class="bg-[#0f0d12] text-center mt-2">
                <div>
                  
                </div>
                  <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                   <iframe class="h-[300px] ml-8 w-[550px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/g6h2ztdqCc8" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                   <a class="text-center text-purple-400 font-bold text-[25px] pl-[10%] ">     Toma tu clase primera clase! con un paso a paso sencillo y divertido.<br></br> aprende a tocar guitarra desde cero.</a>
                   </div>
                   <h1 class="text-white font-bold text-[25px] pt-4">Recuerda tomar tus descansos , es importante estar fresco!</h1>
                                     <img src="banner.png" class="w-[50%] ml-[25%] h-20 pt-[2%] " alt=""> 
 
                   <h1 class="text-white font-bold text-[25px] pt-4">Tú segunda clase te espera!</h1>
                   <div class="flex items-center justify-center h-[60%] pt-[5%]">
                     <a class=" text-purple-400 font-bold text-[25px]  ">     Continua con tu educacion.  <br></br> Recuerda que la perseverancia es la clave del exito</a>
                   <iframe class="h-[300px] ml-8 w-[480px] rounded-lg shadow-black shadow-md" src="https://www.youtube.com/embed/omui_UyFsIA" title="ELDEN RING Shadow of the Erdtree | Official Gameplay Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>     
                   </div>
                   
              </div>
              <Footer></Footer>
  </body>
</html>
    