<html
 lang="en">
<section id="contacto"  lang="en"  class="bg-[#141218] py-16 px-4 text-center">
    <h2 class="text-3xl font-semibold text-purple-400">Contactanos</h2>
    <p class="mt-4 text-white">¿Tienes preguntas? Escribenos a <strong>contacto@escuelademusica.com</strong> o llamanos al <strong>+57 3144470381</strong>.</p>
  </section>

  <footer class="bg-gray-950 text-center py-4 text-gray-500 text-sm">
    &copy; 2025 RitmoAcademic. Todos los derechos reservados.
  </footer>
</html>
