---
import "../styles/global.css"
---
 <head>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Login</title>
	</head>

<header class="bg-[#141218] p-2 pr-[8%] pl-[5%] sticky z-20 top-0 flex ">
			<a aria-label="Inicio"  href="/" class="flex gap-2"
				><img src="public/icon.png" alt="Logo" class="h-[80px] rounded-4xl w-[80px]" />
				 
				<span class="text-3xl font-extrabold text-purple-400 pt-5    rounded-3xl  ">
					Ritmo<span class="text-white">Academic</span>
			  
				 
				<nav class="flex gap-6 items-center	 ">
					<a
						href="/#nosotros"
						class="text-white   hover:text-purple-400 font-semibold  "
						>Nosotros</a
					>
				 
					<a
						href="/#contacto"
						class="text-white hover:text-purple-400 font-semibold"
						>Contacto</a
					>
					<a
						href="/noticias	"
						class="text-white hover:text-purple-400 font-semibold  "
						>Noticias</a
					>
				 
					<a href="/ " 	class="text-white border rounded-sm p-2 ml-[180%] border-purple-400 hover:text-purple-400 font-semibold"> Salir </a>
				</nav>
				</a
			>
		</header>