---
import "../styles/global.css";
---
<header class="bg-[#141218] p-2 px-[10%]  flex justify-between">
			<a aria-label="Inicio"  href="/" class="flex gap-3"
				><img src="public/icon.png" alt="Logo" class="h-[80px] rounded-4xl w-[80px]" />
				 
				<span class="text-3xl font-extrabold text-purple-400 pt-5   hover:bg-gray-800 p-4 rounded-3xl  ">
					Ritmo<span class="text-white">Academic</span>
			  
				 
				<nav class="flex gap-6 items-center	 pr-5">
					<a
						href="#nosotros"
						class="text-white hover:text-purple-400 font-semibold"
						>Nosotros</a
					>
					<a
						href="#cursos"
						class="text-white hover:text-purple-400 border border-purple-400 rounded-md p-2 font-semibold"
						>Cursos</a
					>
					<a
						href="#contacto"
						class="text-white hover:text-purple-400 font-semibold"
						>Contacto</a
					>
					<a
						href="/noticias	"
						class="text-white hover:text-purple-400 font-semibold"
						>Noticias</a
					>
					<a
						href="/registro	"
						class="text-white hover:text-purple-400 font-semibold"
						>Registro</a
					>
				</nav>
				</a
			>
		</header>