---
import "../styles/global.css";
---
<header class="bg-gray-800 p-2  flex justify-between">
			<a aria-label="Inicio"  href="/" class="flex gap-3"
				><img src="public/icon.png" alt="Logo" class="h-30 rounded-4xl w-30" />
				 
				<h1 class="text-4xl font-bold text-purple-400 mt-8">RitmoAcademic</h1>
			  
				 
				<nav class="flex gap-6 items-center	 pr-5">
					<a
						href="#nosotros"
						class="text-white hover:text-purple-400 font-semibold"
						>Nosotros</a
					>
					<a
						href="#cursos"
						class="text-white hover:text-purple-400 font-semibold"
						>Cursos</a
					>
					<a
						href="#contacto"
						class="text-white hover:text-purple-400 font-semibold"
						>Contacto</a
					>
				</nav>
				</a
			>
		</header>