---
 import Head from "../../components/head.astro";
import "../../styles/global.css";
import Cursos from "../../components/cardscursos.astro";
import Footer from "../../components/Footer.astro";
import HeadAdmin from "../../components/HeadAdmin.astro";
---
 
  <HeadAdmin />
 
 

<body class=" ">
    <div class="flex">

        <section id="menu" class="w-[30%] text-white font-semibold text-[25px] text-center h-screen bg-[#141218]">
            <h1>Menu</h1>
        </section>
        <section class="bg-[#0f0d12] w-[70%]">
            <div class="mt-10 flex flex-wrap justify-center gap-8">
                <Cursos
                titulo="Curso de Guitarra" 
                descripcion="Aprende desde los acordes básicos hasta técnicas avanzadas con nuestros expertos guitarristas."
                link="/guitarra"
				/>
                
				<Cursos
                titulo="Curso de Piano" 
                descripcion="Domina el teclado con clases interactivas para principiantes y niveles intermedios. Aprende a tu gusto y a tu ritmo."
                link="/piano"
				/>
                
				<Cursos
                titulo="Curso de canto vocal"
                descripcion="Entrena tu voz con profesionales a tu gusto que te guiarán en técnica, pasión, respiración y expresión escénica." 
                link="/canto"
				/>
            </section>
        </div>
        </body>
<Footer></Footer>